<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.65912E7D-80E6-40F1-816E-4B9FD32D8421</string>
	<key>darkthemeuid</key>
	<string>750151C8-9B9D-4EDA-9B23-993899FAF385</string>
</dict>
</plist>
